#Bamboo {
    grid-area: Bamboo;
}

#Fish-flag {
    grid-area: Fish-flag;
}
#Map {
    grid-area: Map;
}
#Quadropus {
    grid-area: Quadropus;
}
#Vase-short {
    grid-area: Vase-short;
}
#Vase-tall {
    grid-area: Vase-tall;
    ;
}
#Grid {
    display: grid;
    grid-template-columns: 113px 100px 85px 100px;
    grid-template-rows: 80px 100px 100px 100px 100px;
    grid-template-areas: 
        "Fish-flag Fish-flag Fish-flag Vase-short"
        "Map Map Map Vase-short"
        "Vase-tall Bamboo Bamboo Bamboo"
        "Vase-tall Bamboo Bamboo Bamboo"
        "Vase-tall Quadropus Quadropus Quadropus";

}
